node_modules/
.next/
out/
build/
.npm
.eslintcache
.pnp.*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store

GEMINI.md
CLUADE.md
README.md
RULEBOOK.md
RULEBOOK.MD
.vscode/
.idea/
*.swp
*.core
